

# Storm017 data exploration

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Lightning_Raw_09_06_2018.csv")

In [3]:
df.columns

Index(['timestamp', 'time', 'id', 'channel', 'temperature', 'humidity',
       'strike_count', 'storm_dist', 'active', 'rfi', 'ussb1', 'battery',
       'exception', 'raw_msg', 'Console (Miles)'],
      dtype='object')

In [6]:
# there are two sensors in here.

df["id"].unique()

array([14052,   228], dtype=int64)

In [9]:
# split into sensor 1 and 2.
s1 = df[df["id"] == 14052]
s2 = df[df["id"] == 228]

In [12]:
# eheck number of records
s1.shape

(302, 15)

In [11]:
s2.shape

(314, 15)



## Storm distance values

In [13]:
tmp = df['storm_dist'].unique()
tmp.sort()
print("Storm distance: {0} uniue values: {1}".format(len(tmp), tmp))

Storm distance: 6 uniue values: [ 8 10 12 15 17 20]




## Which records have console correlations

In [18]:
df[df["Console (Miles)"].notnull()][["time", "id", "storm_dist", "Console (Miles)"]]

                    time     id  storm_dist  Console (Miles)
0    2018-09-06 19:52:01  14052          20             15.0
7    2018-09-06 19:52:41  14052          10              7.0
36   2018-09-06 19:55:13  14052          10              7.0
106  2018-09-06 20:01:53  14052          10              7.0
196  2018-09-06 20:11:21  14052          12              9.0

In [20]:
# get some stats for sensor 1
s1[["time", "strike_count", "storm_dist"]].describe()

       strike_count  storm_dist
count    302.000000  302.000000
mean      17.092715   11.463576
std        1.348561    1.360452
min       14.000000   10.000000
25%       16.000000   10.000000
50%       18.000000   12.000000
75%       18.000000   12.000000
max       18.000000   20.000000

In [22]:
# get some stats for sensor 2
s2[["time", "strike_count", "storm_dist"]].describe()

       strike_count  storm_dist
count    314.000000  314.000000
mean      12.726115   10.219745
std        2.561977    3.478752
min        6.000000    8.000000
25%       12.000000    8.000000
50%       14.000000    8.000000
75%       14.750000   12.000000
max       15.000000   20.000000